<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>


 <div class="container">
  <h1 class="headerText"> <%= title %> Me</h1>
  <hr><br><br>
  <div class="row">
  <div class="col">
  <img src="/Assests/images/Abhi.jpeg" alt="Nature"  width="400">
</div>
<div class="col">
<p>
  My name is Abhishake Malhotra. I am from the Kapurthala in Punjab province of India. I am currently studying in Software Engineering Technology program at Centennial College.
 <br><br>
 I have completed my Bachelors of Technology from Guru Nanak Dev University with specialization in Computer Science stream. In my bachelors , I learned about the basic of programming such as C, C++, JAVA, Oracle along with Data Structures and Software Design and Analysis.
 <br><br>
   I have worked on various projects for gaining knowledge. Along with this i made a project on Android studio in my training section.
   I tried web development using various languages for backend such as c#,java, and python. for front end I have used html,CSS,Bootstrap, and java script.
</p>

<div class="d-grid gap-2">
  <button class="btn btn-info" type="submit" onclick="window.open('Assests/Resume/Abhishake.docx')" >Download my Resume</button>
</div>
</div>
</div>
</div>
<br><br>

 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>
