<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>

<div class="container">
<div>
    <h1 class="headerText">Projects</h1>
</div>
<br>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">          <!--Project 1 Div -->
    <div class="card h-100"> 
      <img src="/Assests/images/Dealit.jpg" class="card-img-top" height=317px alt="Deal It">
      <br>
      <div class="card-body">
        <h5 class="card-title">Deal It</h5>
        <p class="card-text">Deal It application is use to get the best deals for food and drinks, Shopping, Things to do.
          It created using andriod studio with java language, MySql and Server.Worked as a Mobile Appliction developer
          on this project.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Worked in Bachelors training</small>
      </div>
    </div>
  </div>
  <div class="col">                   <!--Project 2 Div -->
    
    <div class="card h-100">      
      <img src="/Assests/images/Onlinequiz.jpg" class="card-img-top" height=317px alt="Online Quiz">
      <div class="card-body">
        <h5 class="card-title">Online Quiz</h5>
        <p class="card-text">Online Quiz website created to perform quiz question on differnt programs. This is created using Java, SQL. Worked as a website developer on this project.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Worked 1 months ago</small>
      </div>
    </div>
  </div>
</div>
</div>
<br><br>

 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>