/* FileName :app.css */
/* StudentName :Abhishake Malhotra */
/* Student Id :301177229 */
.center {
    text-align: center;
  }
  .container{
	margin-top: 25px;
    
}
.headerText{
    text-align: center;
}
